<mat-card>
  <form [formGroup]="form" (ngSubmit)="onAddPost()">
    <mat-form-field>
      <input
        matInput
        id="title"
        placeholder="Enter a title"
        type="text"
        formControlName="title"
        required
      />
      <ng-container *ngIf="title.invalid && (title.touched || title.dirty)">
        <mat-error *ngIf="title.errors.required">Please enter a post title</mat-error>
        <mat-error *ngIf="title.errors.minlength">Please enter a post title with min length 2</mat-error>
      </ng-container>

    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        id="content"
        placeholder="Enter a content"
        rows="6"
        formControlName="content"
        required
      ></textarea>
      <ng-container *ngIf="content.invalid && (title.touched || title.dirty)">
        <mat-error *ngIf="content.errors.required">Please enter a post content</mat-error>
        <mat-error *ngIf="content.errors.minlength">Please enter a post content with min length 2</mat-error>
      </ng-container>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">save post</button>
  </form>
</mat-card>
